.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  background-color: transparent;
  opacity: 40%;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url(../images/liked-heart.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/liked-hover-heart.svg);
}

.card__delete-button {
  background-image: url(../images/delete-button-defafult.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: transparent;
  top: 10px;
  left: 371px;
}

.card__delete-button:hover {
  background-image: url(../images/delete-button-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 250px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
